asgiref==3.5.2
blinker==1.4
bottle==0.12.19
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
cmake==3.22.4
colorama==0.4.4
comtypes==1.1.11
cycler==0.11.0
Django==4.0.4
django-crispy-forms==1.14.0
django-filter==21.1
django-project==0.7
django-utils-six==2.0
django-widget-tweaks==1.4.12
dlib @ file:///C:/Users/Harshitha/Desktop/Install-dlib-main/dlib-19.22.99-cp310-cp310-win_amd64.whl
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==2.1.2
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-MySQLdb==1.0.1
Flask-PyMongo==2.3.0
fonttools==4.33.3
idna==3.3
image==1.5.33
imageio==2.19.2
imageio-ffmpeg==0.4.7
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
mysqlclient==2.1.0
numpy==1.22.3
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
playsound==1.3.0
psycopg2==2.9.3
pymongo==4.1.1
pyparsing==3.0.9
pypiwin32==223
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.1
pywin32==304
PyYAML==6.0
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2022.1
urllib3==1.26.9
Werkzeug==2.1.2
xlwt==1.3.0